[submodule "vllm"]
	path = vllm
	url = git@github.com:seven-mile/moe-routing-vllm.git
[submodule "lm-evaluation-harness"]
	path = lm-evaluation-harness
	url = git@github.com:seven-mile/moe-routing-lmeval.git
[submodule "transformers"]
	path = transformers
	url = git@github.com:seven-mile/moe-routing-transformers.git
[submodule "deep-ep"]
	path = deep-ep
	url = https://github.com/deepseek-ai/DeepEP
[submodule "pplx-kernels"]
	path = pplx-kernels
	url = git@github.com:seven-mile/moe-routing-pplx-kernels.git
